* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: pink;
    height: 20vh;
    width: 100vw;
}

main {
    background-color: blue;
    height: 70vh;
    width: 100vw;
}

footer {
    background-color: green;
    height: 10vh;
    width: 100vw;
}